<div nz-row>


    <div nz-col nzSpan="24">
        <nz-page-header class="Painel-Manutenção-Modulo" nzTitle="Primeiros Passos">
            <nz-breadcrumb nz-page-header-breadcrumb>
                <nz-breadcrumb-item><i nz-icon nzTheme="outline" nzType="home"></i></nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    Tutorial
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </nz-page-header>
    </div>
    <div nz-col nzSpan="16">
        <iframe class='frame' src="https://www.youtube.com/embed/XLgD6JiAV0A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- <div nz-col nzSpan="12">Arquivos: </div> -->
</div>