nz-select {
    width: 120px;
  }

  .btn-change{
    position: relative;
    display: block;
    background-color: #8253eb;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    color: white;
    text-align: center;
  }

  #avatar{
    display: none;
  }
