.form-login{
  border-radius: 4px;
  padding: 60px;
  background: #fff;
  width: 100%;
  box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.1);
  float: left;
}

nz-layout{
  padding: 60px 0;
  background-color: transparent;
}
