<nz-layout class="bg">
  <div nz-row  >
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <form class="form-login" nz-form [formGroup]="recoverPasswordForm" (ngSubmit)="submitForm()">
        <img src="assets/images/1-01.png" style="margin: 20px auto;display: block" width="120"/>
        <nz-form-item>
          <p>Informe seu Email para receber um link de recuperação</p>
          <nz-form-control nzErrorTip="Informe o seu Email!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="email" placeholder="Informe o seu Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-alert nzType="success" [nzMessage]="alertSuccess" *ngIf="alertSuccess"></nz-alert>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nz-button class="login-form-button" [nzType]="'primary'" nzBlock>
              Solicitar
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</nz-layout>
