.bg-login {
  width: 100%;
}
.logo{
  margin: 20px auto 0px;
  display: block;
  width: 130px;

}

.form-login {
  padding-top: 10;
  padding-left: 10%;
  padding-right: 10%;
  background: #fff;
  width: 100%;
}
.form-login input {
  height: 55px;

}
.login-form-forgot{
  text-align: right;
  width: 100%;
}
.label-form{
  font-size: 18px !important;
  color: #292D3F !important;
}


nz-layout {
  /* padding: 60px 0; */
  background-color: transparent;
}
.sign-up{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;

}
