<div class='bg' nz-row>
  <div nz-col nzSm="24" style="margin-left: auto;margin-right: auto;" nzLg="8">
    <form class="form-login" nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
      <img src="assets/images/1-01.png" style="margin: 0px auto;display: block" width="150" />
      <h4 class="text-center">Bem-vindo/a, Favor crier sua senha para confirmado seu email!<br /> </h4>
      <nz-form-item>
        <nz-form-label nzSpan="24">Nova senha</nz-form-label>
        <nz-form-control nzErrorTip="Informe a nova senha!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="new_password" placeholder="Informe a nova senha" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="24">Confirme a senha</nz-form-label>
        <nz-form-control nzErrorTip="Informe a nova senha!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="confirm_password" placeholder="As senhas devem ser iguais" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-alert nzType="success" [nzMessage]="alertResponse" *ngIf="alertResponse"></nz-alert>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nz-button class="login-form-button" [nzType]="'primary'" nzBlock>
            CONFIRMAR
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
